{% extends 'base.html' %}


{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <h2 style="color: rgb(14, 230, 230);">Add category</h2>


            <form action="{% url 'category_add' %}" , method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="e1">name</label>
                    <input name="name" type="text" class="form-control" id="e1"
                        placeholder="Enter category name" required>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}