{% extends 'client_base.html' %}


{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <h2 style="color: rgb(0, 0, 0);">Info</h2>
            <ul>
                {% for i in info %}
                <li>
                    <h3><i class="fas fa-phone">Phone</i> : {{ i.phone }}</h3>
                </li>
                <li>
                    <h3><i class="fas fa-map-marker-alt">Address</i>:{{ i.Address }}</h3>
                </li>
                <li>
                    <h3><a style="color: black;" href="http://t.me/Mental_terror1st"> <i class="fab fa-telegram"></i>
                            Telegram</a> </h3>
                </li>
                <li>
                    <h3><i class="fas fa-clock">Work time</i> : {{ i.work_time }}</h3>
                </li>
                {% endfor %}
            </ul>



        </div>
    </div>
</div>

{% endblock %}